<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock %}</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/imagezoom.css' %}">
    <!-- <script src="{% static 'css/script.js' %}"></script> -->
    <!-- <script src="{% static 'css/xzoom.min.js' %}"></script> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--    <link href="https://www.cssscript.com/demo/stacked-card-slider-swiper/dist/stackedCards.css" rel="stylesheet"/>-->
    <script src="https://www.cssscript.com/demo/stacked-card-slider-swiper/dist/stackedCards.min.js"></script>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.4/dist/css/uikit.min.css"/>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.4/dist/js/uikit-icons.min.js"></script>

    <link href="https:///maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https:///maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https:///cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <!--     -->
    <script src="https:///maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    {% block head %} {% endblock %}

</head>
<body>{% csrf_token %}


<div class="row top-row" style="margin: 1%; flex-flow: row-reverse;">
    {% if user == True %}
    <div>
    </div>
    {% else %}
    <div class="row ml-1">
        <div class="ml-auto mr-3">
            <a href="#" id="myBtn" class="btn login-btn" style="font-size:100%; background-color:pink;">
                <span class="glyphicon glyphicon-user"></span> Login
            </a>
        </div>
        <div class="ml-auto mr-3">
            <a href="register" class="btn login-btn" style="font-size:100%; background-color:pink;">
                <span class="glyphicon glyphicon-user"></span> Register
            </a>
        </div>
    </div>
    {% endif %}
</div>
<form action="login" method="post">
    {% csrf_token %}
    <div id="myModal" class="modal2">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" style="margin-left: 94%;margin-top: 2%;">&times;</span>
            <div class="d-flex justify-content-center">
                <div id="loginform" class="row">
                    <div class="col-sm-12">
                        <label id="login-lbl">Login Now</label>
                    </div>
                    <div class="col-sm-12">
                        <input name="lg_username" id="lg_username" type="text" class="form-control eptxt"
                               placeholder="Username">
                        <input name="lg_password" id="lg_password" type="password" id="inputPassword5"
                               class="form-control pastxt"
                               aria-describedby="passwordHelpBlock" placeholder="Password">

                        <button type="submit" class="btn login-btn lbtn">Login</button>
                    </div>
                    <form action="forget_pass" method="post">
                        {% csrf_token %}
                        <a type="sumbit" href="forgetpassword" class="fplink">Forgot Password?</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</form>
<nav>
    <a href="index" id="logo">Company Logo Here</a>
    <label for="drop" class="toggle">Menu</label>
    <input type="checkbox" id="drop">
    <ul class="menu">
        <li><a href="index">Home</a></li>
        <li>
            <!-- First Tier Drop Down -->
            <label for="drop-1" class="toggle">All Jewellery Sets +</label>
            <a href="All-Jewellery-Sets">All Jewellery Sets</a>
            <input type="checkbox" id="drop-1">
            <ul>
                <li><a href="Haram-Set">Haram Set </a></li>
                <li><a href="Long-Necklace-Sets">Long Necklace Sets</a></li>
                <li><a href="Short-Necklace">Short Necklace</a></li>
                <li><a href="Pendant-Sets">Pendant Sets</a></li>
                <li><a href="Mangalsutra-Sets">Mangalsutra Sets</a></li>
            </ul>
        </li>
        <li>
            <!-- First Tier Drop Down -->
            <label for="drop-2" class="toggle">Jewelry +</label>
            <a href="#">Jewelry</a>
            <input type="checkbox" id="drop-2">
            <ul>
                <li><a href="Earrings">Earrings</a></li>
                <li><a href="Maang-Tikkas-And-Daminis">Maang Tikkas And Daminis</a></li>
                <!--                    <li>-->
                <!--                        &lt;!&ndash;                    <label for="drop-3" class="toggle">Works +</label>&ndash;&gt;-->
                <!--                        <a href="#">Works</a>-->
                <!--                        &lt;!&ndash;                    <input type="checkbox" id="drop-3">&ndash;&gt;-->
                <!--                        &lt;!&ndash;                    <ul>&ndash;&gt;-->
                <!--                        &lt;!&ndash;                        <li><a href="#">HTML/CSS</a></li>&ndash;&gt;-->
                <!--                        &lt;!&ndash;                        <li><a href="#">jQuery</a></li>&ndash;&gt;-->
                <!--                        &lt;!&ndash;                        <li><a href="#">Python</a></li>&ndash;&gt;-->
                <!--                        &lt;!&ndash;                    </ul>&ndash;&gt;-->
                <!--                    </li>-->
            </ul>
        </li>
        <li>
            <!-- First Tier Drop Down -->
            <label for="drop-4" class="toggle">Support +</label>
            <a href="return-refund-replacement">Support</a>
            <input type="checkbox" id="drop-4">
            <ul>
                <li><a href="return-refund-replacement">Replace, Refund, Replacement</a></li>
            </ul>
        </li>
        <li><a href="blog">Blog</a></li>


        <li><a href="contact">Contact</a></li>
        <li><a href="about">About</a></li>
        {% if user == True %}
        <li>
            <label for="drop-3" class="toggle">Profile +</label>
            <a href="#">Profile</a>
            <input type="checkbox" id="drop-3">
            <ul>
                <li><a href="logout">Logout</a></li>
            </ul>
        </li>
        {% endif %}
    </ul>
</nav>

{% block body %} {% endblock %}
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Home</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i
                            class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>About
                        Us</a></li>
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i
                            class="fa fa-angle-double-right"></i>FAQ</a></li>
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Terms
                        & Condition</a></li>
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Privacy
                        Policy</a></li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Collection</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Collection</a>
                    </li>
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Necklaces
                        for Women - Bridal Necklace Sets, Latest Necklace Sets</a></li>
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Earrings
                        for Women - Wedding Jhumkas, Latest Design Earring for Girls</a></li>
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Mangalsutra
                        - Latest Long, Short Artificial Mangalsutra Designs</a></li>
                    <li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i
                            class="fa fa-angle-double-right"></i>Combo</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Customer Care</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Contact
                        Us</a></li>
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Returns,
                        Refunds and Replacement</a></li>

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i
                            class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i
                            class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i
                            class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i
                            class="fa fa-google-plus"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02" target="_blank"><i
                            class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="h6">Copyright © 2020 All right Reversed.<a class="text-green ml-2"
                                                                     href="https://www.sunlimetech.com"
                                                                     target="_blank">Company Name Here</a></p>
            </div>
            <hr>
        </div>
    </div>
</section>
</body>
<!--dropdown script-->
<script>
    var stackedCardSlide = new stackedCards({ selector: '.example' });
stackedCardSlide.init();

























</script>
<script>
$(document).ready(function(){
  $(".nav-tabs a").click(function(){
    $(this).tab('show');
  });
  $('.nav-tabs a').on('shown.bs.tab', function(event){
    var x = $(event.target).text();         // active tab
    var y = $(event.relatedTarget).text();  // previous tab
    $(".act span").text(x);
    $(".prev span").text(y);
  });
});





</script>
<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}





















</script>
<script>
  AOS.init();
</script>
{% block script %} {% endblock %}

</html>