{% extends 'all_templates.html' %}
{% load static %}
{% block title %} Short Necklace {% endblock %}

{% block body %}
<h1> Short Necklace Page </h1>
<div class="row" style="margin:auto;">

    <div class="col-sm-12">
        {% for product in Short_Necklace %}
        <div class="col-xs-6 col-md-3 prod-card">
            <div class="prod-img">
                <img class="prod-box" src="/media/{{product.image}}"
                    style="width: fit-content;height: 379px; border-radius: 8px;">
                <div class="overlay">
                    <div class="text">
                        <a href="product/{{product.id}}/{{product.product_name}}"><button type="button"
                                class="btn btn-warning buynow-btn">Buy Now</button></a>
                    </div>
                </div>
            </div>
            <div class="prod-text">
                <h3>{{product.product_name}}</h3>
                <h5><b>₹</b>{{product.price}}</h5>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block script %} {% endblock %}